nextflow.enable.dsl = 2

// --------------------------
// Default execution profile
// --------------------------
profiles {

  standard {
    process.executor = 'local'
  }

  low_resource {
    process.executor = 'local'
    process.cpus = 1
    process.memory = '2 GB'
    process.time = '2h'
  }
}

// --------------------------
// Resource limits (global)
// --------------------------
process {
  withName: 'ANNOVAR_TABLE' {
    cpus = 2
    memory = '6 GB'
  }

  withName: 'VEP_ANNOTATION' {
    cpus = 2
    memory = '4 GB'
  }
}

// --------------------------
// Execution behaviour
// --------------------------
executor {
  queueSize = 2
}

cleanup = true
